.link{
    color: #f8f9fa;
    transition: all .4s ease-in-out;
    &:hover {
        color: #FBBF3F;
        text-decoration: none;
    }
}

// .nav-bar {
//     color: #fff;
//     list-style: none;
//     display: flex;
//     li {
//         display: block;
//         padding: 10px 20px;
//         text-transform: uppercase;
//         transition: all .4s ease-in-out;
//         cursor: pointer;
//         &:hover {
//             color: #FBBF3F;
//             border-bottom: 1px solid #FBBF3F;
//         }
//     }
// }