
.social-links {
    padding: 190px 100px 190px 35px;
    color: #9ea3a0;

    .round-btn {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #9ea3a0;
        margin-bottom: 20px;
        position: relative;
        .icon {
            position: absolute;
            top: 7px;
            left: 10px;
        }
    }
}

.info-section {
    padding-top: 100px;

    // .round-bar {
    //     padding: 10px 20px;
    //     display: inline-block;
    //     border-radius: 30px;

    //     &.black-btn {
    //         background: #141414;
    //         color: #FBBF3F;
    //         text-transform: uppercase;
    //         font-size: .9rem;
    //         margin-bottom: 40px;
    //     }

    //     &.yellow-btn {
    //         background: #FBBF3F;
    //         color: #060606;
    //         text-transform: uppercase;
    //         font-size: 1rem;
    //     }

    //     &.blue-btn {
    //         background: #3F7BFB;
    //         color: #ffffff;
    //         text-transform: uppercase;
    //         font-size: 1rem;
    //         margin-left: 15px;
    //     }
    // }

    .buttons {
        margin-top: 50px;
    }

    h1 {
        font-size: 3.5rem;
    }

    p{
        line-height: 1.5;
    }
}

.featured-project{
    padding-top: 100px;

    .image-bg {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .latest-project {
        width: 100%;
        background: #070707;
        display: inline-block;
        padding: 25px;

        .highlight {
            font-size: .9rem;
            color: #FBBF3F;
            margin-bottom: 20px;
        }

        .title {
            font-size: 1.6rem;
            margin-bottom: 15px;
        }

        p {
            color: #9ea3a0;
        }
    }
}


@media screen and (max-width: 767px) {
    .social-links {
        display: none;
    }

    .info-section {
        padding-top: 50px;
    
        .round-bar {
            &.yellow-btn {
                margin-bottom: 30px;
            }
    
            &.blue-btn {
                margin-bottom: 30px;
            }
        }
    
        h1 {
            font-size: 3rem;
        }
    
        p{
            margin-top: 20px;
            font-size: 1.3rem;
            line-height: 1.5;
            text-align: justify;
        }
    }

    .featured-project{
        padding-top: 50px;
        margin-bottom: 30px;
    }
}