
.social-links {
    padding: 190px 100px 190px 35px;
    color: #9ea3a0;

    .round-btn {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #070707;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        &:hover {
            background: #fbbf3f;
            color: #070707;
            border: 2px solid #070707;
        }
        .icon {
            position: absolute;
            color: #070707;
            top: 7px;
            left: 10px;
        }
    }
}

.info-section {
    padding-top: 100px;
    
    .buttons {
        margin-top: 50px;
    }

    h1 {
        font-size: 3.5rem;
    }

    p{
        line-height: 1.5;
    }
}

.featured-project{
    padding-top: 100px;

    .slide-text {
        background: rgba($color: #000000, $alpha: 0.5);
    }

    .image-bg {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .latest-project {
        width: 100%;
        background: #070707;
        display: inline-block;
        padding: 25px;

        .highlight {
            font-size: 1.2rem;
            color: #FBBF3F;
            margin-bottom: 20px;
        }

        .title {
            font-size: 1.6rem;
            margin-bottom: 15px;
        }

        p {
            color: #9ea3a0;
        }
    }
}


@media screen and (max-width: 767px) {
    .social-links {
        display: none;
    }

    .info-section {
        padding-top: 50px;
    
        .round-bar {
            &.yellow-btn {
                margin-bottom: 30px;
            }
    
            &.blue-btn {
                margin-bottom: 30px;
            }
        }
    
        h1 {
            font-size: 3rem;
        }
    
        p{
            margin-top: 20px;
            font-size: 1.3rem;
            line-height: 1.5;
            text-align: justify;
        }
    }

    .featured-project{
        padding-top: 50px;
        margin-bottom: 30px;
    }
}