@import "Header";
@import "Home";
@import "Footer";
@import "Custom";
@import "About";

.logo {
    font-weight: 900;
    font-size: 1.4rem;
    font-style: italic;
    display: flex;
    align-items: center;
}

.round-bar {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 30px;

    &.black-btn {
        background: #141414;
        color: #FBBF3F;
        text-transform: uppercase;
        font-size: .9rem;
        margin-bottom: 40px;
    }

    &.yellow-btn {
        background: #FBBF3F;
        color: #060606;
        text-transform: uppercase;
        font-size: 1rem;
    }

    &.blue-btn {
        background: #3F7BFB;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1rem;
        margin-left: 15px;
    }
}